AZURE_OPENAI_ENDPOINT=...
AZURE_OPENAI_API_KEY=...
AZURE_OPENAI_DEPLOYMENT_SUMMARY=...
AZURE_OPENAI_API_VERSION=...

AZURE_SPEECH_ENDPOINT=...
AZURE_SPEECH_KEY=...
AZURE_SPEECH_REGION=...
AZURE_SPEECH_LANGUAGE=...
USE_SPEECH_SERVICE=true


USE_WHISPER_API=false
WHISPER_API_BASE_URL=...
WHISPER_API_KEY=...